<!DOCTYPE html>
<html>
<head>
    <title>Library Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Library Management</h1>
        <form method="get" action="/search">
            <input type="text" name="query" placeholder="Search for books..." required>
            <button type="submit">Search</button>
        </form>
        <h2>Books:</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th >Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>
                        <a href="/update/{{ book.id }}">Update</a>
                        <a href="/delete/{{ book.id }}" onclick="return confirm('Are you sure you want to delete this book?');">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="button-container">
          <a href="/add" class="button">Add Book</a>
          <a href="/logout" class="button">Logout</a>
      </div>
    </div>
</body>
</html>
